.slick-dots li {
  margin: 0;
}

.slick-dots {
  margin-top: 50px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: transparent;
  opacity: 1;
}

.slick-dots li button:before {
  margin-top: 5px;
  background-color: transparent;
  border: 1px solid #ccc !important;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
  background: none;
  color: none;
}
.slick-dots li.slick-active button:before {
  background-color: #ffffff !important;
  color: white;
}
